[Desktop Entry]
Version=1.0
Type=Application
Name=HWMio
Comment=Hardware Monitoring Tool
Exec=/usr/bin/HWMio
Icon=hwmio
Terminal=false
Categories=Utility;
